In [16]:
#function in python what is ??
# to repeat a set of instructions multiple times.
#2 loops in python for and while loops ..
#what is for loops??
#when a task needs to be a repeated foR a specific numner of times called for loops. or when you know number of repeatition
#thet save time and improve code conciseness ..

In [17]:
import pandas as pd

<h1 style="color:blue;"> ((1)) BUILT-IN FUNCTION FOR "FOR LOOPS"</h1>

<h1 style="color:red">abid ali tutorial about functions</h1>

In [41]:
for i in range (2):              #1   #line of code that come after identation  will execute inside for loops.  
    print("hello world")

hello world
hello world

In [47]:
for any_numer in range(2):                #2  #print the string(pakistan or abid ali) specific number of times 
    print("pakistan")                   #you can put anything instead of i a ehat you like you give name ..
    print("abid ali")

pakistan
abid ali
pakistan
abid ali

In [23]:
fruits=["apple","banana","cherry"]
for a in fruits:                             #3   # i want to choose a for variable
    print(a)

apple
banana
cherry

In [24]:
print(fruits)                             #4

['apple', 'banana', 'cherry']

In [25]:
fruits=["apple","banana","cherry"]            #5
for item in fruits:                            #collection in item for iterate is items
                                              
    print(item)

apple
banana
cherry

In [28]:
my_list=[10,20,30,40,50]               #6replace it any tuples, list etc 
for number in my_list:
    print(number)

10
20
30
40
50

In [26]:
country="hello world"                   #7for cheking characters
for i in country:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [30]:
for a in "banana":                       #8
    print(a)

b
a
n
a
n
a

In [33]:
for  alphabetics in "abid":                #9
    print(alphabetics )

a
b
i
d

In [34]:
for abid in range(5):                      #10
    print(abid)

0
1
2
3
4

In [35]:
for abid in range(1,5):   # custom numbers range              #11
    print(abid)

1
2
3
4

In [40]:
my_list=[10,20,30,40,50]            #12want to print list items and alsoindexing of numbers 
for a in range(len(my_list)):    #one function runs in onother.. 
    print(a,my_list[a])

0 10
1 20
2 30
3 40
4 50

In [51]:
my_list=[10,20,30,40,50]
print(len(my_list))                  #13len will count all element inside of list

5

#you can create your own functions in python             #user define function for loops...              
#user defined function 
#code should be reuseabled 
#if we call functions we can work on it 
 #syntax 
#def define function():         #then python will expect name from your side what u will give name to funtions 
   #print("hello from function")

In [52]:
my_dic={"brand":"ford","model":"mustang","year":20}           #14
for abid in my_dic.values():
    print(abid)

ford
mustang
20

# <h1 style="color:green"> ((2)) USER DEFINED FUNCTION FOR FOR LOOPS</h1>

In [64]:
def my_function():                                    #15
   print("hello abid ali rana" )

In [65]:
def my_function():                               #16
   print("hello abid ali rana" )
my_function()

hello abid ali rana

In [82]:
def add_numbers(a, b):  # Use variable names for parameters            #17
    sum= a + b      # Perform the addition
    return result       # Return the result

sum = add_numbers(2, 3)         #parameter or place holder
print("The sum is",sum)

The sum is 5

In [88]:
def abid(food):          #food                                       #18
    for abid in food:
        print(abid)
food=["apple","banana","cherry"]
abid(food)

apple
banana
cherry

In [85]:
def abid(food):                                             
    for item in food:                   #19 Optional: avoid using the same name for function and loop variable
        print(item)

food = ["apple", "banana", "cherry"]
abid(food)  # ✅ Now passing the list correctly

apple
banana
cherry

In [94]:
def abid_ali(abid):               #20abid is parameter or empty place holder where you can later assign value by argument..
    return 5 * abid
print(abid_ali(3))

15

In [100]:
def ali(a,b):                            #21
    sum=a + b
    print(sum)
ali(2,3)

5

In [101]:
def ali(a, b):                          #22
    sum = a + b
    print(sum)

ali(2, 3)

5

In [ ]:
def greet_man(name="abid"):              #23
    greet_man

# ((3)) for LOOPS detail understanding         # 24enumerate in for loops

In [2]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):          #25 enumerate returns index and items
    print(f"({index}): {fruit}")

(0): apple
(1): banana
(2): cherry

# <h1 style="color:red"> manual finiding index and items</h1>

In [4]:
fruits = ["apple", "banana", "cherry"]
index=0
for fruit in fruits:
    print(f"index[index):[fruit]")
    index +=1

index[index):[fruit]
index[index):[fruit]
index[index):[fruit]

In [5]:
fruits = ["apple", "banana", "cherry"]
index = 0
for fruit in fruits:
    print(f"index[{index}]: [{fruit}]")
    index += 1

index[0]: [apple]
index[1]: [banana]
index[2]: [cherry]

# ((4)) enumerate built in function make work easy so used it

# used "for loops on dictionary"

In [10]:
person={'name':'abid','age':33,'city':'lahore'}
print("iterating over key and values:")                  #key and value
for key in person:
    print(f"{key}:{person[key]}")

iterating over key and values:
name:abid
age:33
city:lahore

In [13]:
person = {'name': 'abid', 'age': 33, 'city': 'lahore'}

print("Iterating over keys and values:")
for key, value in person.items():
    print(f"{key}: {value}")

Iterating over keys and values:
name: abid
age: 33
city: lahore

# <h1 style="color:red"> ((5)) "while LOOPS"           </h1>
# <h4 style="color:blue"> while loops runs as long as specified conditon is true ..eg. when login try on website if enter correct password login if wrong again again coming try try    </h4>

In [14]:
count=0
while count <5:
    print("count is",count)
    count+=1

count is 0
count is 1
count is 2
count is 3
count is 4

In [2]:
#count=10
#while count >5:
  #  print("count is ",count)
    #for continuos condition running..

# ((6)) loops control statements
# <h1 style="color:red">break statment </h1>
# <h1 style="color:green"> when we want break,no matter what ,loop will stop where we want to break,when oue our one condition meet then we use break

In [9]:
for abid in range(10):
    if abid == 3:
        print("skipping 3")
        continue
    if abid == 8:
        print("breaking at 8")
        break
    print("current number:", abid)
else:
    print("loop completed without break")

current number: 0
current number: 1
current number: 2
skipping 3
current number: 4
current number: 5
current number: 6
current number: 7
breaking at 8

In [17]:
for abid in range(5):
    print(abid)
    range(4)
    break
    print("current number 4")

0

In [18]:
for abid in range(5):
    print("current number", abid)

current number 0
current number 1
current number 2
current number 3
current number 4

# ((7)) higher order functions

In [4]:
#function in double a number
def double(x):
    return x * 2
numbers=[1,2,3,4,5]
doubled=list(map(double,numbers))               #map higher order function which list 
print(doubled)

[2, 4, 6, 8, 10]

# ((8)) Filter Function
### select elements from an iterable that meet a specified condition

In [5]:
#we give function to filter function and also iterable

In [11]:
def is_even(x):
    return x % 2 == 0
numbers =[1,2,3,4,5,6]
evens=list(filter(is_even,numbers))
print(evens)

[2, 4, 6]

# ((9)) reduce function 
### when we give one function on iterable function it return one values

In [13]:
from functools import reduce
def multiply (x,y):
    return x * y
numbers=[1,2,3,4,5]
product=reduce(multiply,numbers)
print(product)

120

# ((10)) zip function 
### to pair elements from multiple iterables into tuples.

In [15]:
names=['abid','taha','aswad']
ages=[33,6,2]
paired=list(zip(names,ages))
print(paired)

[('abid', 33), ('taha', 6), ('aswad', 2)]

# ((11)) enemurate function
### in enemurte ehile change index and manipilate

In [19]:
fruits=['appla','banana','cherry']
for index, fruit in enumerate(fruits, start=3):
    print(f"{index}:{fruit}")

3:appla
4:banana
5:cherry

## for pro tips where should u

## map and filter functions used in simple work
## reduce used when too much needed 
## zip used in multiple list 
## enemertae for index tracking used